<p-toast></p-toast>
<p-confirmDialog #cd [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <h3>Confirm action</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="No"
      (click)="cd.reject()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Yes"
      (click)="cd.accept()"
    ></button>
  </ng-template>
</p-confirmDialog>
<p-progressBar [value]="predictionPercentage"></p-progressBar>
<div *ngIf="!loading; else tableInit">
  <div class="grid" style="margin-right: 0">
    <div
      class="col-fixed side-menu"
      style="width: 200px; padding: 0; min-height: 800px"
    >
      <p-divider>
        <div class="inline-flex align-items-center">
          <i class="pi pi-desktop mr-2"></i>
          <b>Actions</b>
        </div>
      </p-divider>
      <p-tieredMenu [model]="sideMenuItems"></p-tieredMenu>
      <p-divider>
        <div class="inline-flex align-items-center">
          <i class="pi pi-server mr-2"></i>
          <b>Models</b>
        </div>
      </p-divider>
      <p-tieredMenu [model]="modelItems"></p-tieredMenu>
    </div>

    <div
      class="col"
      style="border-left: 1px solid; padding: 0; border-color: #e0e0e1"
      *ngIf="!aligning; else alignment"
    >
      <div class="header">
        <div class="header-spaced">
          <span class="p-input-icon-left" style="align-self: flex-start">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="applyFilterGlobal($event, 'contains')"
              placeholder="Search"
            />
          </span>
          <span *ngIf="timeLeft > 0"
            >Approximately {{ timeLeft }} seconds remaining</span
          >
        </div>
        <div class="header-spaced">
          <div class="header-left">
            <p-button
              icon="pi pi-bolt"
              title="Predict selected"
              [loading]="checkingAvailability"
              label="Predict"
              [disabled]="
                processRunning() ||
                checkingAvailability ||
                connectionErrorText.length > 0
              "
              (onClick)="confirm1()"
            ></p-button>
            <p-button
              icon="pi pi-list"
              title="Align selected"
              [loading]="false"
              label="Align"
              [disabled]="processRunning()"
              (onClick)="aligning = true"
            ></p-button>
          </div>
          <span
            title="Currently selected model"
            style="
              font-size: 30px;
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
                sans-serif;
              min-width: 200px;
              text-align: center;
            "
            >{{ currentlySelectedModel }}</span
          >
          <div class="header-right">
            <p-button
              icon="pi pi-trash"
              title="Delete selected"
              [loading]="false"
              label="Delete"
              [disabled]="processRunning()"
              (onClick)="deleteSelectedSequences()"
            ></p-button>
          </div>
        </div>
      </div>
      <p-table
        #dt
        [value]="workspace.sequences"
        dataKey="id"
        styleClass="p-datatable-striped"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
        [loading]="tableLoading"
        [paginator]="true"
        [paginatorPosition]="'both'"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
        [globalFilterFields]="['name', 'value']"
        [(selection)]="selectedSequences"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>

            <th style="width: 5%"></th>
            <th pSortableColumn="name" style="width: 30%">
              Name <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="status" style="width: 10%">
              Status <p-sortIcon field="status"></p-sortIcon>
            </th>
            <th style="width: 20%">Actions</th>
            <th pSortableColumn="note" style="width: 35%">
              System note <p-sortIcon field="note"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-sequence let-expanded="expanded">
          <tr>
            <td>
              <p-tableCheckbox [value]="sequence"></p-tableCheckbox>
            </td>
            <td>
              <button
                type="button"
                pButton
                pRipple
                title="Expand"
                [pRowToggler]="sequence"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              ></button>
            </td>
            <td>
              {{ sequence.name }}
            </td>
            <td>
              <i
                title="Sequence unprocessed"
                class="pi pi-question-circle"
                style="font-size: 2rem"
                *ngIf="!sequence.status"
              ></i>
              <i
                title="Positives found"
                class="pi pi-check-circle"
                style="color: green; font-size: 2rem"
                *ngIf="sequence.status === 'POSITIVE'"
              ></i>
              <i
                title="No positives found"
                class="pi pi-times-circle"
                style="color: rgba(255, 0, 0, 0.753); font-size: 2rem"
                *ngIf="sequence.status === 'NEGATIVE'"
              ></i>
              <i
                title="Sequence length too short for this model"
                class="pi pi-exclamation-circle"
                style="color: orange; font-size: 2rem; margin-left: 10px"
                *ngIf="sequence.value.length < 40"
              ></i>
            </td>
            <td>
              <div class="actions">
                <p-button
                  icon="pi pi-pencil"
                  title="Edit"
                  [loading]="false"
                  (onClick)="
                    openDialog(sequence.name, sequence.value, sequence.id)
                  "
                ></p-button>
                <p-button
                  icon="pi pi-copy"
                  title="Duplicate"
                  [loading]="false"
                  (onClick)="duplicateSequence(sequence)"
                ></p-button>
              </div>
            </td>
            <td>
              <p *ngIf="sequence.edited">Edited by user</p>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-sequence>
          <tr>
            <td colspan="6">
              <div class="element-detail">
                <span class="element-header" style="margin-top: 10px">
                  1--------10--------20--------30--------40
                </span>
                <span
                  class="element-description"
                  [innerHTML]="getColoredRepresentation(sequence) | noSanitize"
                  style="margin-bottom: 10px"
                >
                </span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<ng-template #alignment>
  <app-workspace-align
    [sequences]="selectedSequences"
    [threshold]="threshold"
    (backClick)="backFromAlign()"
  ></app-workspace-align>
</ng-template>
<ng-template #tableInit>
  <p-progressSpinner></p-progressSpinner>
</ng-template>
