<div *ngIf="loading; else content">
  <p-progressBar mode="indeterminate"></p-progressBar>
</div>
<ng-template #content>
  <div class="card">
    <p-tabView [(activeIndex)]="activeIndex">
      <p-tabPanel header="Upload FASTA file" [disabled]="activeIndex !== 0">
          <form [formGroup]="firstFormGroup" class="stepper-content">
            <button
              pButton
              label="Upload"
              icon="pi pi-paperclip"
              (click)="fileInput.click()"
            ></button>
            <input
              hidden
              type="file"
              formControlName="file"
              (change)="onFileChange($event)"
              #fileInput
            />
            <p *ngIf="!sizeValid">
              Size limit reached. Check if file contains less than 10000
              sequences and their length doesn't exceed 1024 characters.
            </p>
          </form>
      </p-tabPanel>
      <p-tabPanel header="Name your workspace" [disabled]="activeIndex !== 1">
          <form [formGroup]="secondFormGroup" class="stepper-content">
            <span class="p-float-label">
              <input
                id="float-input"
                type="text"
                size="30"
                pInputText
                formControlName="name"
              />
              <label for="float-input">Name</label>
            </span>
            <p *ngIf="!nameValid">Name already exists!</p>
            
            <button
              pButton
              label="Next"
              [disabled]="secondFormGroup.invalid || !sizeValid"
              (click)="onNextClick()"
            ></button>
            
          </form>
      </p-tabPanel>
      <p-tabPanel header="Summary" [disabled]="activeIndex !== 2">
        <div *ngIf="stepperLoading; else submitContent">
          <p-progressSpinner></p-progressSpinner>
        </div>
        <ng-template #submitContent>
          <div class="stepper-content">
            <div>
              <p>Name: {{ secondFormGroup.value.name }}</p>
              <p>
                Number of sequences:
                {{ fastaSequences ? fastaSequences.length : 0 }}
              </p>
            </div>
            <button pButton label="Submit" (click)="onSubmit()"></button>
          </div>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </div>
</ng-template>
