<p-card class="app-card" [style]="{ width: '500px', height: '400px' }">

    <h1 class="app-title">AmyloTool</h1>

    <form class="app-form">
      <div class="p-field">
        <input
          pInputText
          autocomplete="on"
          id="username"
          placeholder="Username"
          [formControl]="username"
          [pTooltip]="getUsernameErrorMessage()"
          tooltipPosition="bottom"
        />
      </div>

      <div class="p-field">
        <input
          pInputText
          type="password"
          autocomplete="on"
          id="password"
          placeholder="Password"
          [formControl]="password"
          [pTooltip]="getPasswordErrorMessage()"
          tooltipPosition="bottom"
        />
      </div>

      <button
        pButton
        label="Login"
        [loading] = loading
        type="button"
        class="app-button"
        (click)="login()"
      ></button>
    </form>
</p-card>
