.mat-table {
  display: block;
  overflow: auto;
  max-height: 800px;
}
.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: gainsboro;
}

.v-centered {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

:host {
  display: block;
  width: 100%;
}
