.mat-table {
  display: block;
  overflow: auto;
  max-height: 800px;
}
.mat-mdc-row .mat-mdc-cell {
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: gainsboro;
}

.mat-icon {
  margin-right: 8px;
}

.v-centered {
  display: flex;
  align-items: center;
}

:host {
  display: block;
  width: 100%;
}
