<p-toast></p-toast>
<p-confirmDialog
  header="Duplicate workspace"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<div class="grid" style="margin-right: 0">
  <div class="col-fixed side-menu" style="width: 200px; padding: 0">
    <p-divider>
      <div class="inline-flex align-items-center">
        <i class="pi pi-desktop mr-2"></i>
        <b>Actions</b>
      </div>
    </p-divider>
    <p-tieredMenu [model]="items"></p-tieredMenu>
  </div>
  <div class="col" style="border-left: 1px solid; padding: 0">
    <p-table
      #dt
      [value]="workspaces"
      dataKey="id"
      styleClass="p-datatable-striped"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
      [globalFilterFields]="['name']"
      [rowHover]="true"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          List of workspaces
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="applyFilterGlobal($event, 'contains')"
              placeholder="Search"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="width: 60%">
            Name <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th style="width: 20%">Actions</th>
          <th pSortableColumn="lastModified" style="width: 20%">
            Last modified <p-sortIcon field="lastModified"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-workspace>
        <tr>
          <td
            class="hover"
            [routerLink]="['/workspaces/details']"
            [queryParams]="{ id: workspace.id }"
            queryParamsHandling="merge"
          >
            {{ workspace.name }}
          </td>
          <td>
            <div class="actions">
              <p-button
                icon="pi pi-copy"
                title="Duplicate"
                [loading]="false"
                (onClick)="duplicateWorkspace(workspace)"
              ></p-button>
              <p-button
                icon="pi pi-users"
                title="Share"
                [loading]="false"
                (onClick)="copyToClipboard(workspace)"
              ></p-button>
            </div>
          </td>
          <td>{{ getDateFromTimestamp(workspace.lastModified) }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
