.table-header {
  display: flex;
  justify-content: space-between;
}

.side-menu {
  justify-content: center;
  justify-items: center;
}

.hover {
  cursor: pointer;
}

.actions {
  display: flex;
  column-gap: 20px;
}

:host ::ng-deep {
  .p-paginator {
    .p-paginator-current {
      margin-left: auto;
    }
  }
  .p-tieredmenu {
    width: 100%;
  }

  .grid {
    margin: 0;
  }
}
