<div *ngIf="loading; else content">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<ng-template #content>
  <button
    mat-fab
    title="Back"
    color="primary"
    style="
      min-width: 0;
      margin-bottom: 50px;
      margin-left: 10px;
      margin-top: 10px;
    "
    [routerLink]="['/workspaces/details']"
    [queryParams]="{ id: workspace.id }"
    queryParamsHandling="merge"
  >
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <div
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 25px;
    "
  >
    <div class="horizontal">
      <p style="font-size: large; min-width: 180px">
        Threshold value:
        <span style="font-weight: bold">{{ workspace.threshold }}</span>
      </p>
      <mat-icon
        style="margin-top: -3px"
        title="Model predictions are normalized for values between 0 and 1.&#010;You can adjust this value to see the predictions for different confidence levels."
        >help</mat-icon
      >
    </div>

    <mat-slider
      [max]="1"
      [min]="0"
      [step]="0.01"
      style="width: 40%; margin-bottom: 50px"
    >
      <input matSliderThumb [(ngModel)]="workspace.threshold" />
    </mat-slider>

    <div class="horizontal">
      <button
        mat-raised-button
        title="Delete"
        color="primary"
        (click)="saveWorkspace()"
      >
        <mat-icon style="margin-right: 15px">save_alt</mat-icon>Save
      </button>

      <button
        mat-raised-button
        title="Delete"
        color="primary"
        (click)="deleteWorkspace()"
      >
        <mat-icon style="margin-right: 15px">delete</mat-icon>Delete
      </button>
    </div>
  </div>
</ng-template>
